@page
@using NutriElemental.App.Dominio
@model NutriElemental.App.Presentacion.Pages.Nutricionistas.ActualizarModel
@{
}<br>
<h2>Actualizar Nutricionista</h2>

<form class="row g-3" method="post">
    <div class="col-md-4" hidden>
        <label class="form-label" asp-for="Nutricionista.Id"></label>
        <input type="text" class="form-control"asp-for="Nutricionista.Id"required>
    </div>
    <div class="col-md-4">
        <label class="form-label" asp-for="Nutricionista.Nombre"></label>
        <input type="text" class="form-control"asp-for="Nutricionista.Nombre"required>
    </div>
    <div class="col-md-4">
        <label class="form-label" asp-for="Nutricionista.Apellido"></label>
        <input type="text" class="form-control" asp-for="Nutricionista.Apellido" required>
    </div>
    <div class="col-md-4">
        <label class="form-label" asp-for="Nutricionista.Cedula"></label>
        <input type="text" class="form-control" asp-for="Nutricionista.Cedula"required>
    </div>
    <div class="col-md-12">
        <label class="form-label" asp-for="Nutricionista.Email"></label>
        <input type="text" class="form-control" asp-for="Nutricionista.Email">
    </div>
    <div class="col-md-6">
        <label class="form-label" asp-for="Nutricionista.Celular"></label>
        <input type="text" class="form-control" asp-for="Nutricionista.Celular">
    </div>
    <div class="col-md-6">
        <label class="form-label" asp-for="Nutricionista.Direccion"></label>
        <input type="text" class="form-control" asp-for="Nutricionista.Direccion">
    </div>
    <div class="col-md-4">
        <label class="form-label" asp-for="Nutricionista.Genero">Genero</label>
        <select class="form-control" asp-for="Nutricionista.Genero" asp-items="Html.GetEnumSelectList<Genero>()"></select>
    </div>
    <div class="col-md-4">
        <label class="form-label" asp-for="Nutricionista.Especialidad"></label>
        <input type="text" class="form-control" asp-for="Nutricionista.Especialidad">
    </div>
    <div class="col-md-4">
        <label class="form-label" asp-for="Nutricionista.RegistroRethus"></label>
        <input type="text" class="form-control" asp-for="Nutricionista.RegistroRethus">
    </div>
    <div class="col-md-12">
        <label for=""></label>
        <button type="submit" class="btn btn-success form-control">Actualizar</button>
    </div>
</form>
