@page
@model NutriElemental.App.Presentacion.Pages.Registro.IndexModel
@{
    Layout = "_Registro";
}

<div class="container">
    <div class="row">
        <div class="col-lg-4 mb-3">
            <div class="card">
                <div class="card-header">
                   <h3>Paciente</h3>
                </div>
                <div class="card-body">
                     <img src="~/img/login/Paciente.gif" style="width: 100%;">
                     
                     <a class="btn custom-btn"asp-page="./Coach">Registrate</a>
                </div>
                <div class="card-footer">
                    <a href="https://storyset.com/people">People illustrations by Storyset</a>
                </div>
        </div>
        </div>

        <div class="col-lg-4 mb-3">
            <div class="card">
                <div class="card-header">
                    <h3>Coach</h3>
                </div>
                <div class="card-body">
                    <img src="~/img/login/Coach.gif" style="width: 100%;">
                    
                    <a class="btn custom-btn"asp-page="./Coach">Registrate</a>
                </div>
                <div class="card-footer">
                    <a href="https://storyset.com/people">People illustrations by Storyset</a>
                </div>
        </div>
        </div>

        <div class="col-lg-4 mb-3">
            <div class="card">
                <div class="card-header">
                    <h3>Medico</h3>
                </div>
                <div class="card-body">
                   <img src="~/img/login/Medico.gif" style="width: 100%;">
                   
                   <a class="btn custom-btn"asp-page="./Coach">Registrate</a>
                </div>
                <div class="card-footer">
                    <a href="https://storyset.com/people">People illustrations by Storyset</a>
                </div>
        </div>
        </div>
    </div>
</div>